.admin {
  h1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #008CFF;
    text-align: center;
  }

  h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
  }

  h3 {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #008CFF;
  }

  h4 {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #008CFF;
    text-transform: capitalize;
  }

  p {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
  }

  .list {
    margin-top: 100px;
  }
}
