.liquidate-list{
  h1{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
  }
  h2{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: none;
    color: #BDBDBD;
  }
}
.liquidate-item{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  span{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #828282;
  }
}
.liquidate-input{
  h1{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
  }
  h2{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-transform: none;
    line-height: 14px;
    color: #BDBDBD;
  }
  h4{
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
  }
  h5{
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    color: #000000;
    a{
      text-decoration: none;
    }
  }
  p{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
  }
  span{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #828282;
  }
  .vertical-divider{
    border: 1px solid #BDBDBD;
    width: 0;
    height: 133px;
  }
  .inputBox{
    margin: 0;
    height: 52px;
    .v-text-field fieldset, .v-text-field .v-input__control, .v-text-field .v-input__slot {
      margin: 0;
    }
  }
  .button span{
    text-transform: none;
    margin: 0 40px 0 40px;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: white !important;
    border-radius: 15px;
    width: 300px;
    letter-spacing: normal;
  }
  .inputText {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    padding: 0 !important;
    text-align: center !important;
    color: #000000;
    display: flex !important;
    justify-content: center !important;
  }
  .v-text-field--solo > .v-input__control > .v-input__slot{
    background: transparent;
  }
  .summary-num{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
  }
  .dialog .input-col{
    padding: 3px !important;
  }
  .input-col{
   padding: 3px !important;
  }
}
.empty-liquidate{
  h1{
    font-style: normal;
    text-transform: none;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #333333;
  }
}
