@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap');

div, p, h1, h2, h3, h4, h5, h6, body {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
}

h1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #008CFF;
}

button {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
}

.button {
  text-transform: none;
  margin: 0 40px 0 40px;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: white !important;
  border-radius: 15px;
  width: 300px;
  letter-spacing: normal;
}

.tooltip {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
}

.listTitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #828282 !important;
}

.item {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000 !important;
}

.itemInfo {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  text-transform: uppercase;
  color: #828282 !important;
}

.toggle {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  border-radius: 30px;
  box-sizing: border-box;
  border: 1px solid #BDBDBD;
  width: 274px;
  .selected {
    text-transform: none;
    border-radius: 30px;
    background: #008CFF;
    color: #FFFFFF;
    width: 50%;
    height: 100%;
    letter-spacing: normal;
  }
  .notSelected {
    text-transform: none;
    border-radius: 30px;
    background: #FFFFFF;
    color: #000000;
    width: 50%;
    height: 100%;
    letter-spacing: normal;
  }
}

.boldie {
  font-weight: bold !important;
}

.redish {
  color: #EB5757 !important;
}

.greenish {
  color: #24BD6B !important;
}

.blueish {
  color: #008CFF !important;
}

.grayish {
  color: #BDBDBD !important;
}
