.supply-borrow-chart{
  h1{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #008CFF;
  }
  h2{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #008CFF;
  }
  h3{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
  }
  h4{
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #008CFF;
  }
  span{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
  }
  .borrow-limit{
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
  }
}
