.supplyBorrow {
  h1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #008CFF;
  }

  .healthBorder {
    background: #FFFFFF;
    border: 1px solid #008CFF;
    box-sizing: border-box;
    border-radius: 15px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #008CFF;
    .healthFactor {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
    }
  }
}