.time-balance{
  h1{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #008CFF;
  }
  span{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
  }
  .divider-balance-graph{
    width: 295.96px;
    height: 0px;
    border: 0.5px solid #BDBDBD;
  }
  .period-picker{
    width: 100px;
    border: 0.5px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 15px;
    a{
      color: #828282;
      text-decoration: none;
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 13px;
    }
  }
}
